<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <img src="https://firebasestorage.googleapis.com/v0/b/spa-img.appspot.com/o/fibraopticaBL.svg?alt=media&token=74cfe28f-a936-47bc-9856-a8c5030e789a" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" alt="Icono Fibra Óptica">
        <a class="ml-3 text-xl" routerLink="/" ng-reflect-router-link="home" href="/">OpticFiberMaxi</a>
      </a>
      <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
        <a class="mr-5 hover:text-gray-900" routerLink="/contact" ng-reflect-router-link="contact" href="/contact">Contacto</a>
        <a class="mr-5 hover:text-gray-900" routerLink="/about" ng-reflect-router-link="about" href="/about">Acerca de Nosotros</a>
      </nav>
    </div>
  </header>