<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap" style="padding-top:24px;margin-top: 80px;">
      <div class="lg:w-1/2 w-full mb-10 lg:mb-0 rounded-lg overflow-hidden">
        <img alt="feature" class="object-cover object-center h-full w-full" src="https://firebasestorage.googleapis.com/v0/b/spa-img.appspot.com/o/nosotros.jpg?alt=media&token=0e84979c-daea-4dbd-af92-8351c0d91f2b">
      </div>
      <div class="flex flex-col flex-wrap lg:py-6 -mb-10 lg:w-1/2 lg:pl-12 lg:text-left text-center">
        <div class="flex flex-col mb-10 lg:items-start items-center">
          <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
              <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
            </svg>
          </div>
          <div class="flex-grow rounded-bg">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3">UN POCO SOBRE NOSOTROS</h2>
            <p class="leading-relaxed text-base">En OpticFiberMaxi, estamos comprometidos con ofrecer soluciones de conectividad de alta calidad y rendimiento para hogares y empresas. Con años de experiencia en el sector de las telecomunicaciones, nos hemos posicionado como líderes en la instalación de redes de fibra óptica, brindando servicios que transforman la forma en que las personas se conectan y comunican.</p>
            <p class="leading-relaxed text-base">Nuestro enfoque se centra en tres pilares fundamentales: velocidad, responsabilidad e innovación. Nos enorgullece ofrecer la instalación más rápida de fibra óptica, garantizando una conexión ultrarrápida y estable para todos nuestros clientes. Nuestro equipo de técnicos altamente capacitados y comprometidos se asegura de que cada instalación se realice de manera eficiente y profesional.</p>
            <p class="leading-relaxed text-base">La responsabilidad es un valor que guía cada una de nuestras acciones. Desde el primer contacto hasta la finalización del proyecto, nos comprometemos a brindar un servicio transparente y confiable, cumpliendo con los más altos estándares de calidad y seguridad. Nuestra prioridad es garantizar la satisfacción total de nuestros clientes, ofreciendo soluciones a medida que se adaptan a sus necesidades específicas.</p>
            <p class="leading-relaxed text-base">En OpticFiberMaxi, la innovación es parte de nuestro ADN. Nos mantenemos a la vanguardia de la tecnología de fibra óptica, invirtiendo en equipos y herramientas de última generación para ofrecer servicios de alta calidad y eficiencia. Nuestro equipo de expertos está constantemente investigando y desarrollando nuevas soluciones para mejorar la conectividad y la experiencia del usuario.</p>
            <p class="leading-relaxed text-base">Además de nuestra experiencia técnica y nuestro enfoque en la calidad, en OpticFiberMaxi nos enorgullecemos de nuestro compromiso con la sostenibilidad y el medio ambiente. Nos esforzamos por minimizar nuestro impacto ambiental en cada proyecto, utilizando materiales y prácticas sostenibles en todas nuestras operaciones.</p>
            <p class="leading-relaxed text-base">En resumen, en OpticFiberMaxi estamos dedicados a ofrecer soluciones de conectividad de alta calidad que transforman la forma en que las personas se conectan y comunican. Con un enfoque en la velocidad, la responsabilidad y la innovación, nos comprometemos a ofrecer servicios excepcionales que superen las expectativas de nuestros clientes. Confía en OpticFiberMaxi para llevar tu conectividad al siguiente nivel.</p>
            <a class="mt-3 text-indigo-500 inline-flex items-center">Learn More
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>